.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 353px;
}

.card__delete-button {
  background-image: url(../images/delete-Default.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-Hover.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 100%;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.card__like-icon {
  background-image: url(../images/LikeIcon.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-icon_active {
  background-image: url(../images/red-like.svg);
  opacity: 1;
}

.card__like-icon:hover {
  opacity: 100%;
  transition: opacity 0.5s ease;
}

.card__like-icon_active:hover {
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 100%;
  }
}
