.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: visibility 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  list-style: none;
  cursor: pointer;
  border: none;
  background-image: url(../images/x.svg);
  background-repeat: no-repeat;
}

.modal__close-button_type_preview {
  background-image: url(../images/black-x.svg);
  background-repeat: no-repeat;
  list-style: none;
  cursor: pointer;
  border: none;
  top: 0;
  right: -52.5px;
  width: 40px;
  height: 40px;
}

.modal__close-button_type_preview:hover {
  opacity: 40%;
}

.modal__close-button:hover {
  opacity: 100%;
}
.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #212121;
  box-sizing: border-box;
}
.modal__input::placeholder {
  color: #21212166;
}
.modal__submit-button {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #212121;
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  height: 52px;
  color: #fcf5e5;
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.modal__submit-button:hover {
  opacity: 80%;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__preview-title {
  width: 214px;
  height: 32px;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 750px;
  margin-left: 223px;
  background-color: #212121;
  color: #fff;
}

@media screen and (max-width: 627px) {
  .modal__container {
    flex-direction: column;
    align-items: center;
    max-width: 627px;
    padding: 12px 12px;
  }

  .modal__title {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 100%;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__input {
    line-height: 100%;
    max-width: none;
    font-size: 16px;
  }

  .modal__submit-button {
    max-width: none;
  }

  .modal__close-button_type_preview {
    top: -49px;
    right: 0;
  }

  .modal__image-container {
    max-width: unset;
  }
}
