.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  background-color: #fcf5e5;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  font-size: 16px;
  line-height: 100%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 12px;
  max-width: 420px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit {
  margin-top: auto;
  padding: 0;
  opacity: 70%;
  display: flex;
  border: none;
  background-color: transparent;
  gap: 8px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: #212121;
}

.profile__edit:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s ease;
}

.profile__post {
  margin-left: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #212121;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  color: #fcf5e5;
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.profile__post:hover {
  border: none;
  opacity: 80%;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__post {
    width: 100%;
  }

  .profile__title {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    text-align: center;
    margin: 0 0 32px;
  }
}
